@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #02C39A;
    --secondary-Color: #f6425f;
    --text-Color: #3B3C36;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #FAAF3A;
    --error-Color: #F94C10;
    --grey-Color: #ACADAE;
    --black-Color: #272D4E;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: #5560C8;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 12px 42px;
    --button-border-radius: 12px;
    --button-font-weight: 400;
    --heading:50px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;
}
.fdb-block {
    padding: 0rem 0;
}
/*headerhdmc0pmwml*/
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link{
color: var(--text-Color);
}
/*registrationh222fa673a781ab9e*/
.registrationh222fa673a781ab9e h2{
    font-size: var(--heading);
    font-weight: var(--button-font-weight);
}
.registrationh222fa673a781ab9e .btn-lg {
    padding: var(--button-padding);
}
.registrationh222fa673a781ab9e .btn-dark{
    color: var(--black-Color);
    background-color: var(--warning-Color);
    border-color: var(--warning-Color);
    box-shadow: none;
    font-size: 16px;
}
.registrationh222fa673a781ab9e .bg-primary {
    background-color: var(--alert-Color) !important;
}
.registrationh222fa673a781ab9e .bg-overlay {
    background: linear-gradient(to left, var(--alert-Color), var(--black-Color))
}
.registrationh222fa673a781ab9e p{
    font-size: var(--paragraph);
}
/*fulbf5e57dc82a907a3*/
.fulbf5e57dc82a907a3 .fdb-block {
    padding: 0rem 0;
}
.fulbf5e57dc82a907a3 h1 {
    font-size: var(--heading-large);
}
.fulbf5e57dc82a907a3 h3 {
    font-size: var(--heading-medium);
    margin-top: 10px;
    font-weight: var(--button-font-weight);
}
.fulbf5e57dc82a907a3 p {
    font-size: var(--paragraph);
}
/*aboutd390a380620aac0e*/
.aboutd390a380620aac0e .video_card::before{
    background-color: transparent;
}
.aboutd390a380620aac0e h4{
    display: none;
}
.aboutd390a380620aac0e .mb-5{
    margin-bottom: 1rem !important;
}
.aboutd390a380620aac0e p{
    font-size: var(--paragraph);
}
/*counteraf598102c9dad94e*/
.counteraf598102c9dad94e{
    padding-top: 50px;
}
.counteraf598102c9dad94e h2 {
    font-size: var(--heading-large);
    color: var(--warning-Color);
}
.counteraf598102c9dad94e h4{
    font-size: var(--heading-medium);
    color: var(--secondary-Background-Color);
}
/*bannerb9ce7550acbf1ce9f*/
.bannerb9ce7550acbf1ce9f p{
    font-size: var(--heading-medium);
}
.bannerb9ce7550acbf1ce9f .button{
    color: var(--text-Color);
    background-color: var(--warning-Color);
    border-color: var(--warning-Color);
    padding: var(--button-padding);
    box-shadow: none;
}
.bannerb9ce7550acbf1ce9f .button:hover{
    color: var(--main-Background-Color);
}
/*pricese9815bebb7496bd*/
.pricese9815bebb7496bd h1{
    font-size: var(--heading-large);
}
.pricese9815bebb7496bd h2{
    font-size: var(--heading-medium);
}
.pricese9815bebb7496bd em{
    display: none;
}
.pricese9815bebb7496bd .pt-4{
    padding-top: 0rem !important;
}
.pricese9815bebb7496bd .fdb-block .fdb-touch {
    border-top: solid 0.3125rem var(--primary-Color);
}
.pricese9815bebb7496bd .fdb-block .btn-primary {
    color: var(--main-Background-Color);
    background-color: var(--alert-Color);
    border-color: var(--alert-Color);
    box-shadow: none;
}
/*teamtmpxpt1wbh8*/
.teamtmpxpt1wbh8 h1 {
    font-size: var(--heading-large);
}
.teamtmpxpt1wbh8 .fdb-block{
    padding: 0px;
}
.teamtmpxpt1wbh8 .lead{
   display: none;
}
.teamtmpxpt1wbh8 h4{
    font-size: var(--paragraph);
 }
/*flightft09nw97giq*/
.flightft09nw97giq .fab {
color: var(--alert-Color);
}
.flightft09nw97giq .h2 {
    font-size: var(--heading-large);
}
.flightft09nw97giq .lead {
    font-size: var(--paragraph);
}